[Desktop Entry]
Name=Furry Text-Escape
Icon=/usr/lib/text-escape/FTE_48.png
GenericName=A text-based escape game
Exec=/usr/lib/text-escape/Furry-text-escape.sh
Terminal=false
Type=Application
Categories=X-Fun-adventure
